# Node.js dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Uploads
uploads/

# Database scripts
*.sql

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
